@import "../components/card.css";
@reference "../tailwind.css";

.closed {
  display: none !important;
  bottom: 0px !important;
}

.collapsed {
  display: none !important;
  right: -50% !important;
}
