@import "tailwindcss";
@reference url("./normalize.css");

/* Custom Fonts */
@font-face {
  font-family: "inter";
  src: url("../../public/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
}

@theme {
  --font-inter: "inter";
}

/* @layer: Base styleing */
@layer base {
  :root {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white font-inter scroll-smooth;
  }

  section {
    @apply py-20 px-3;
  }

  button {
    &:active:not(:first-of-type) {
      scale: 95%;
    }
  }
}

/* @layer: Custom Components */
@layer components {
  .btn-fill {
    @apply cursor-pointer border-2 border-solid border-purple-500 bg-purple-500 text-white px-8 py-1.5 rounded-lg text-sm font-bold hover:bg-white hover:text-purple-500 hover:brightness-125 transition duration-150 ease-linear;
  }

  .btn-transparent {
    @apply bg-white cursor-pointer border-2 border-solid border-purple-500 text-purple-500 px-8 py-1.5 rounded-lg text-sm font-medium hover:bg-purple-500 hover:text-white transition duration-150 ease-linear;
  }

  .card-blocks {
    > div {
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      row-gap: 18px;
      border: 1px solid var(--color-gray-200);
      padding: 2.5em 1.2em;
      box-shadow: 0px 0px 3px var(--color-gray-300);
    }
  }
}

/* @layer: Custom Utilities */
@layer utilities {
  .grid-responsive {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .bg-full-gray {
    box-shadow: 0 0 0 100vmax var(--color-gray-50);
    clip-path: inset(0 -100vmax);
  }
}

/* @apply: Custom classes using Tailwind CSS Utilities */
.flexbox-column {
  @apply flex flex-col;
}

.flexbox-center {
  @apply justify-center items-center;
}

.bg-image-clean {
  @apply bg-cover bg-center bg-no-repeat;
}

.navbar-style {
  @apply bg-white w-full px-10 pt-6 pb-2 border-b-2 border-solid md:border-transparent max-md:border-purple-500 shadow-md;
}

.navlink-style {
  @apply sm:px-3 lg:px-6 pb-2.5 text-sm border-solid border-b-4 max-md:border-b-0 border-white hover:text-purple-500 hover:border-purple-500;
}

.active-navlink {
  @apply transition-none border-b-4 max-md:border-b-2 border-solid border-purple-500 text-purple-500 font-bold;
}

.navbar-menu-btn {
  @apply bg-transparent border-0 hidden cursor-pointer w-full h-8 max-md:flex justify-end items-center;
}

.section-title {
  @apply max-sm:text-4xl max-md:text-5xl md:text-6xl font-semibold tracking-tighter text-purple-800;
}

.about-char-children-style {
  @apply [&>*:not(:last-child)]:border-b-2 [&>*:not(:last-child)]:border-b-gray-200 [&>*:not(:last-child)]:pb-6 [&>*]:flex [&>*]:flex-col [&>*]:gap-y-6;
}
.about-char-title {
  @apply text-purple-800 max-lg:text-lg text-xl font-semibold;
}

.about-char-paragraph {
  @apply text-lg text-gray-500;
}

.overlay {
  @apply before:absolute before:content-[""] before:inset-0 before:bg-black/40 before:-z-10;
}
