/* Reset styles */
:root {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
}

section {
  padding-block: 5rem;
  padding-inline: 0.75rem;
}

.bg-image-clean {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
